@use "sass:math";
@import "../../assets/scss/variables.scss";

.home_container {
    background: $color-black;
    background-image: linear-gradient(90deg, $color-greyBold 1px, transparent 1px);
    background-size: math.div(100%, 9);
    width: 100%;
    height: 100vh;
}
